/*
 * site.css
 *
 * Mmm, styles
 */

body {
	/* This font's for you, Evan ;) */
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	background-color: #0969A3;
}

h1, h2, h3, h4, h5, h6 { padding: 0px 0px; }
h1 { font-size: 56px; line-height: 80px; }
h2 { font-size: 35px; line-height: 50px; }
h3 { font-size: 28px; line-height: 40px; }

p { margin: 10px 0px; }

#wrap {
	width: 900px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #FFF;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #000;
	min-height: 200px;
}

#settler {
	position: relative;
	height: 320px;
	margin: 0px 5px;
}

#buttons {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 375px;
}

#stats {
	position: absolute;
	top: 10px;
	right: 0px;
	border: 1px solid black;
	width: 490px;
	height: 100px;
	padding: 10px;
}

#graph {
	position: absolute;
	top: 140px;
	right: 0px;
	height: 150px;
	width: 490px;
	background-color: #def;
	border: 1px solid #789;
	overflow: hidden;
	padding: 10px;
}

#graph li {
	-webkit-transition:height 500ms;
	-moz-transition:height 500ms;
	-o-transition:height 500ms;	
	-ms-transition:height 500ms;		
	transition: height 500ms;
	display: inline-block;
	height: 0%;
	width: 40px;
	background-color: #789;
	border: 1px solid #345;
	position: absolute;
	bottom: 10px;
	margin: 0px;
	padding: 0px;
}

#graph .text {
	position: absolute;
	bottom: 0px;
	left: 5px;
	width: 30px;
	text-align: center;
}

#buttons button {
	background-color: #def;
	border: 1px solid #789;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 3px;
}

#buttons button.smaller {
	width: 85px;
	height: 85px;
	font-size: 3em;
}

#buttons button.larger {
	width: 115px;
	height: 115px;
	font-size: 4em;
}
